* {
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
    background-color: #fdde7e;
}

.main-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.coffee {
    border-radius: 2%;
    background-color: white;
    width: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
    height: 441px;
}

.gold {
    height: 500px;
    position: relative;
}

h1 {
color: #02995b;
font-size: 50px;
font-weight: 400;
}

h1{
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 46px;
}

h2, p {
color: #333;
}

p {
    font-weight: 200;
    font-size: 22px;
    line-height: 32px;
    word-spacing: 2px;
}

.smile-circle {
    color: white;
    font-size: 30px;
    margin: auto auto 25px;
}

.circle {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #4758a586;
    border: 2px solid #21bfb9;
    border-radius: 100%;
    top: -15px;
    right: -15px;
    transition: 1.5s;
}

.gold:hover .circle{
    transition: 1.5s;
    top: 441px;
    right: -15px;
    transform: rotate(1800deg);
    position: absolute;
}